alembic==1.11.1
Babel==2.9.0
blinker==1.6.2
colorama==0.4.6
Flask-Migrate==4.0.4
Flask-Moment==1.0.5
Flask-WTF==1.1.1
greenlet==2.0.2
Mako==1.2.4
packaging==23.1
psycopg2==2.9.6
pyscopg2==66.0.2
typing_extensions==4.6.3
# vboxapi==1.0
WTForms==3.0.1
Flask-Cors==4.0.0
